<style>
    {% include swatches.css %}
</style>
{% include {{page.yarn}}.html %}
<h3> Stripe Pattern: {{page.pattern_name}} </h3>

<div class="flex-container stripes">
  {% for stripe in page.stripes %}
  <span class="stripe color-{{stripe.color}} width-{{stripe.width}}" data-stripe="{{stripe.color}}"></span>
  {% endfor %}
</div>

<p>
  <a href="#" id="reset-defaults">
    Reset Default Colors
  </a>
</p>
<script type="text/javascript">
  var defaults = {{page.colors | jsonify}};
</script>

<div id="targets">
    {% for color in page.colors %}
    <label class="color">
        Color {{color[0] | upcase}}
        <div class="target" data-stripe="{{color[0]}}"></div>
        <div class="color-code" data-stripe="{{color[0]}}"></div>
        <div class="color-name" data-stripe="{{color[0]}}"></div>
    </label>
    {% endfor %}
</div>

<p>
    Click on one of the swatches below, then click on a stripe to change the color.
</p>
<div id="swatches">
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">

  var selectedColor;
  let color_name = function(color_code) {
    return colors.find(function(c) { return c.code == color_code; }).name;
  };


  let pickColor = function(stripe, color) {
    var bgColor = bg(color);
    $(`.target[data-stripe="${stripe}"]`).css('background-image', bgColor);
    $(`.color-code[data-stripe="${stripe}"]`).html(`#${color}`);
    $(`.color-name[data-stripe="${stripe}"]`).html(color_name(color));
    $(`.color-${stripe}`).css('background-image', bgColor);
  };

  let createSwatch = function(indx, color) {
    var swatch = $('<div class="swatch"></div>');
    swatch.attr('data-color', color.code);
    swatch.css('background-image', bg(color.code));
    swatch.attr('title', color.name);
    $('#swatches').append(swatch);
  };
  $.each(colors, createSwatch);

  let selectColor = function(e) {
    resetSelectedColor();
    selectedColor = e.target.dataset.color;
    $(e.target).addClass('selected');
  };

  let resetSelectedColor = function() {
    selectedColor = null;
    $('.swatch.selected').removeClass('selected');
  };

  let setColor = function(e) {
    if(selectedColor) {
      var stripe = e.target.dataset.stripe;
      pickColor(stripe, selectedColor);
      resetSelectedColor();
    }
  };

  $('.swatch').click(selectColor);
  $('.target').click(setColor);
  $('.stripe').click(setColor);

  let setDefaults = function() {
    $.each(defaults, pickColor);
    resetSelectedColor();
  };
  setDefaults();
  $('#reset-defaults').click(setDefaults);
</script>
